.target{background: yellow;

height: 74px;
justify-content: flex-start;
text-align: center;
    padding: 5px;
}
.kkk{text-align: center;
padding: 10px;}
.point {background: coral;

min-height: 72px;
justify-content: flex-start;
text-align: center;
}
.ppp{text-align: center;
padding: 10px;
}
.main {
    height: 80px;
    display: flex;
    justify-content: flex-start;
    text-align: center;
background: lime;
}
.main>h3{text-align: center;}
.container {background: deeppink;
width: 300px;height: 242px;
    justify-content: flex-start;
    text-align: center;
    box-sizing: border-box;
}
.box{height: 80px;
width: 300px;}
